/*
 * Stylesheet with rules for board game collection pages.
 */

/* Basic layout of page elements. */
.bgg noscript { font-size: 125%; }
.bgg .map { padding-bottom: 1.5em; }
.bgg .map img { display: block; width: 100%; }

/* Board game tool-tip appearance. */
.bgg.tooltip {
    padding: 0.5em; margin: 0.5em; border-radius: 0.75em;
    max-width: 30em; font-size: 0.8rem; line-height: 1.5em; }

/* Only underline links on hover. */
.bgg.tooltip a, .bgg.tooltip a:active, .bgg.tooltip a:visited {
    text-decoration: none; }
.bgg.tooltip a:hover { text-decoration: underline; }

/* Spacing and arrangement of tool-tip elements. */
.bgg.tooltip .game, .bgg.tooltip .game div {
    width: auto; line-height: 1.5em; }
.bgg.tooltip .game { margin: 0; padding: 0; text-align: center; }
.bgg.tooltip .close { float: right; font-family: sans;
                      outline: 0; font-weight: bold; }
.bgg.tooltip .name { font-weight: bold; text-align: center; }
.bgg.tooltip .plays { padding-left: 0.5em; }
.bgg.tooltip .rating { padding-right: 0.5em; }
.bgg.tooltip .plays, .bgg.tooltip .rating {
    display:inline-block; font-weight: bold; }
.bgg.tooltip .comment {
    clear: both; text-align: left;
    margin-top: 1em; margin-bottom: 0em; padding: 0.25em; }
